@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ccc;
}

@theme {
  --color-brand-50: #e5ffec;
  --color-brand-100: #ccffd9;
  --color-brand-200: #99ffb3;
  --color-brand-300: #66ff8c;
  --color-brand-400: #33ff66;
  --color-brand-500: #00ff40;
  --color-brand-600: #00cc33;
  --color-brand-700: #009926;
  --color-brand-800: #00661a;
  --color-brand-900: #00330d;
  --color-brand-950: #002409;

  --color-secondary-50: #fff0e5;
  --color-secondary-100: #ffe0cc;
  --color-secondary-200: #ffc299;
  --color-secondary-300: #ffa366;
  --color-secondary-400: #ff7418;
  --color-secondary-500: #ff6600;
  --color-secondary-600: #cc5200;
  --color-secondary-700: #993d00;
  --color-secondary-800: #662900;
  --color-secondary-900: #331400;
  --color-secondary-950: #240e00;

  --color-surface-0: #ffffff;
  --color-surface-50: #f2f2f2;
  --color-surface-100: #e6e6e6;
  --color-surface-200: #cccccc;
  --color-surface-300: #b3b3b3;
  --color-surface-400: #999999;
  --color-surface-500: #808080;
  --color-surface-600: #666666;
  --color-surface-700: #4d4d4d;
  --color-surface-800: #333333;
  --color-surface-900: #1a1a1a;
  --color-surface-950: #121212;

  --shadow-brand: 0 0 20px 0 rgba(0, 255, 65, 0.5);
  --shadow-secondary: 0 0 20px 0 rgba(255, 102, 0, 0.5);

  --shadow-brand-card:
    0 0 20px 0 rgba(0, 255, 65, 0.2), inset 0 0 40px 1px rgba(0, 0, 0, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ccc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  a {
    box-shadow: inset 0 0 0 0 var(--color-brand-500);
    transition:
      color 0.01s ease-in-out,
      box-shadow 0.01s ease-in-out;
  }

  a:hover {
    color: var(--background);
    box-shadow: inset 200px 0 0 0 var(--color-brand-500);
  }
}

@utility text-glow-secondary {
  text-shadow:
    0 0 5px #ff8c33,
    0 0 10px #ff8c33,
    0 0 20px rgba(255, 140, 51, 0.3);
}

@utility text-glow-brand {
  text-shadow:
    0 0 5px var(--color-brand-400),
    0 0 10px var(--color-brand-400),
    0 0 20px color-mix(in srgb, var(--color-brand-400) 30%, transparent);
}
